<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех контактов</title>
</head>
<body>
<h1>Список всех контактов</h1>
<table>
    <tr>
        <th>№</th>
        <th>Имя</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
<!--        <td th:text="${user.email}"></td>-->
<!--        <td th:text="${user.phoneNumber}"></td>-->
<!--        <td ><img th:src="@{'/img/' + ${user.photoUrl}}" alt="" th:style="'max-width: 100px; max-height: 100px'"/></td>-->
    </tr>
</table>

</body>
</html>